.w-40 {
    width: 40% !important;
}
.carousel-inner {
    margin: auto;
}
.carousel-control-prev-icon {
    background-image: url('/assets/brand/Arrow-l.png');
    width: 60px;
    height: 115px;
}
.carousel-control-next-icon {
    background-image: url('/assets/brand/Arrow-r.png');
    width: 60px;
    height: 115px;
}
.carousel-indicators {
  position: relative;
  flex-direction: column;
  margin: 0;
  padding-left: 1rem;
  bottom: 0;
}
.carousel-indicators li {
  text-indent: 0;
  width: 70px;
  height: 30px;
  margin-bottom: 20px;
  background-color: transparent;
  cursor: pointer;
}
.carousel-indicators li a {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.carousel-indicators li.active a {
  color: #d89b64;
}
.carousel-indicators li.active {
  border-bottom: 2px solid #d89b64;
}
.btn-outline-primary {
  border-radius: 0;
  border-color: #fff;
  margin-right: 1rem;
}
